.first-section{
    width: 100%;
    height: 100%;
    background-color: #292F36;
}

.first-section-title{
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 134px;
text-transform: capitalize;
color: #98FAEC;
text-align: center;
margin-bottom: 40px;
padding-top: 50px;
}

.first-section-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0 100px 0;
    gap: 36px;
    max-width: 1280px;
    margin: 0px auto;
    width: 100%;
    height: 100%;
}

.first-section-card-info {
display: flex;
flex-direction: column;
justify-content: center;
align-items: baseline;
padding: 24px;
gap: 25px;
width: 260px;
height: 620px;
background: #292F36;
border: 4px solid #FFFFFF;
box-shadow: -4px -4px 2px #12F7D6;
border-radius: 160px 0px;
flex: none;
flex-grow: 0;
}

.first-section-card-info-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.first-section-card-info-content-name{
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 42px;
text-transform: capitalize;
color: #FFFFFF;
flex: none;
flex-grow: 0;
}

.first-section-card-info-content-job{
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #FFFFFF;
flex: none;
flex-grow: 0;
margin: 0 0 10px 0;
}

.first-section-card-info-content-image {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
width: 96px;
height: 96px;
background: url(programmer-1653351_1280.png);
border: 1px solid #12F7D6;
border-radius: 64px;
flex: none;
flex-grow: 0;
}

.first-section-card-info-social-media{
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #FFFFFF;
flex: none;
flex-grow: 0;
margin-left: 10px;
}

.first-section-card-tecnologies{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.first-section-card-tecnologies-item{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 8px;
gap: 16px;
background: #12F7D6;
border-radius: 8px;
flex: none;
flex-grow: 0;
}

.first-section-card-text{
    max-width: 600px;
    margin: 0 0 0 60px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.simulated-html{
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #98FAEC;
flex: none;
flex-grow: 0;
text-align: left;
}

.first-section-card-proggraming-languages{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 28px 42px;
gap: 48px;
width: 150px;
height: 378px;
background: #1A1E23;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
border-radius: 80px;
flex: none;
flex-grow: 0;
}

.first-section-card-proggraming-languages-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.first-section-card-proggraming-languages-number{
margin: 0;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 62px;
text-transform: capitalize;
color: #12F7D6;
flex: none;
flex-grow: 0;
}

.first-section-card-text-title{
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 72px;
text-transform: initial;
color: #FFFFFF;
flex: none;
flex-grow: 0;
margin-bottom: 0;
}

.first-section-card-text-name{
    color: #12F7D6;
}

.first-section-card-text-link{
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 42px;
text-transform: capitalize;
color: #12F7D6;
flex: none;
flex-grow: 0;
text-align: left;
margin-right: 15px;
}

.first-section-card-text-link-whatsapp{
    margin-top: 15px;
}

.first-section-card-text-text{
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
flex: none;
flex-grow: 0;
}

.first-section{
    width: 100%;
    height: 100%;
    background-color: #292F36;
}

.first-section-title{
    /* developer */

/* BG text-U */
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 134px;
/* identical to box height, or 115% */
text-transform: capitalize;

/* Brand 2 */
color: #98FAEC;

text-align: center;
margin-bottom: 40px;
}

.first-section-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0 100px 0;
    gap: 36px;
    max-width: 1280px;
    margin: 0px auto;
    width: 100%;
    height: 100%;
}

.first-section-card-info {
/* Left */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: baseline;
padding: 24px;
gap: 25px;

width: 260px;
height: 620px;

/* BG 1 */
background: #292F36;
/* White */
border: 4px solid #FFFFFF;
box-shadow: -4px -4px 2px #12F7D6;
border-radius: 160px 0px;

/* Inside auto layout */
flex: none;

flex-grow: 0;

}

.first-section-card-info-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.first-section-card-info-content-name{
    /* Sinan */

/* Logo-M */
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 42px;
/* identical to box height, or 131% */
text-transform: capitalize;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;

flex-grow: 0;

}

.first-section-card-info-content-job{
    /* Full-stack developer */

/* Code-M */
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;

flex-grow: 0;
margin: 0 0 10px 0;

}

.first-section-card-info-content-image {
    /* Profile photo */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 96px;
height: 96px;

background: url(programmer-1653351_1280.png);
/* Brand 1 */
border: 1px solid #12F7D6;
border-radius: 64px;

/* Inside auto layout */
flex: none;

flex-grow: 0;

}

.first-section-card-info-social-media{
    /* abdurrahman_sinan@hotmail.com */


/* Code-M */
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;

flex-grow: 0;

margin-left: 10px;

}

.first-section-card-tecnologies{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.first-section-card-tecnologies-item{
    /* HTML */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 8px;
gap: 16px;

/* Brand 1 */
background: #12F7D6;
border-radius: 8px;

/* Inside auto layout */
flex: none;

flex-grow: 0;

}

.first-section-card-text{
    max-width: 600px;
    margin: 0 0 0 60px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.simulated-html{
/* Code-M */
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

/* Brand 2 */
color: #98FAEC;


/* Inside auto layout */
flex: none;

flex-grow: 0;
text-align: left;

}

.first-section-card-proggraming-languages{
/* Highlights */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 28px 42px;
gap: 48px;

width: 150px;
height: 378px;

/* BG 2 */
background: #1A1E23;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
border-radius: 80px;

/* Inside auto layout */
flex: none;

flex-grow: 0;

}

.first-section-card-proggraming-languages-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.first-section-card-proggraming-languages-number{
    /* 4 */

margin: 0;

/* Number-M */
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 62px;
/* identical to box height, or 129% */
text-transform: capitalize;

/* Brand 1 */
color: #12F7D6;


/* Inside auto layout */
flex: none;

flex-grow: 0;

}

.first-section-card-text-title{

/* H1-U */
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 72px;
/* identical to box height, or 112% */
text-transform: initial;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;

flex-grow: 0;
margin-bottom: 0;

}

.first-section-card-text-name{
    color: #12F7D6;
}

.first-section-card-text-link{
    /* let’s talk *

/* H2-M */
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 42px;
/* identical to box height, or 131% */
text-transform: capitalize;

/* Brand 1 */
color: #12F7D6;


/* Inside auto layout */
flex: none;

flex-grow: 0;
text-align: left;
margin-right: 15px;
}

.first-section-card-text-link-whatsapp{
    margin-top: 15px;
}

.first-section-card-text-text{
    /* I help business grow by crafting amazing web experiences. If you’re looking for a developer that likes to get stuff done, */

/* Para-M */
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* or 125% */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;

flex-grow: 0;

}